html, body {
    height: 100%; 
    margin: 0;     
    padding: 0;    
}

body {
    background-image: url(imagens/5072612.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif; 
    height: 100%;
}

header {
    font-size: 18px;
    color: white;
    text-align: center;
}

main {
    text-align: center;
}

.email {
    font-size: 16px;
    color: red;
    text-decoration: none;
}

.email:hover {
    color: green;
    border-color: yellow;
}

h2 {
    color: white;
    text-align: center;
    font-size: 16px;
}

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    z-index: 10; 
}
